@import '../../../variables';

.create-account-section {
    display: flex;
    flex-direction: row;
    gap: 60px;

    .create-account-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 0px;
        gap: 40px;
    }

    .headline-subhead {
        display: flex;
        flex-direction: column;
        font-family: $main-font;
        color: $text-color;
        gap: 20px;

        h2 {
            font-weight: 600;
            font-size: 51px;
            line-height: 56px;
        }

        .subhead {
            font-weight: 400;
            font-size: 22px;
            line-height: 35px;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .typeforms {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .typeform {
            width: 330px;
            height: 46px;
            background-color: white;
            border: 1px solid #858584;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 16px 20px;
            gap: 12px;
        }

        input {
            width: 100%;
            border: none;
            font-family: $main-font;
            font-size: 16px;
            line-height: 22px;
            color: $background-color;
            outline: none;
        }
        
        button {
            width: 330px;
            height: 46px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px 50px;
            gap: 12px;
            background: $button-color;
            border: solid $button-color;
            border-radius: 20px;
            color: $text-color;
            font-family: $main-font;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
        }
    }
}

@media (max-width: 375px) {

    .create-account-section {
        display: flex;
        flex-direction: column;
        gap: 0px;

        .create-account-form {
            padding: 30px 0px 40px;
            gap: 30px;
            margin: 0px 30px;

            .form {

                .typeforms {

                    .typeform {
                        width: 315px;
                    }
                }

                button {
                    width: 315px;
                }
            }

            .headline-subhead {
                h2 {
                    font-size: 38px;
                    line-height: 46px;
                }

                .subhead {
                    font-size: 16px;
                    line-height: 22px;
                }
            }

            .sign-up {
                font-size: 19px;
            }
        }
    }
}